header {
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;

  .main_header {
    height: 136px;
    background: #293142;
    box-shadow: 0 -3px 31px 0 #0000000d, 0 6px 20px 0 #00000005;

    @media(max-width: 991px) {
      height: 100%;
    }

    .row {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .page_title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 500;
      }

      .breadcrumb {
        gap: 8px;
        display: flex;
        font-size: 13px;

        .breadcrumb_item:first-child {
          color: #ced4da;
        }

        .breadcrumb_item {
          gap: 8px;
          display: flex;
          align-items: center;
        }
      }

      .graphs_block {
        gap: 40px;
        display: flex;

        .graph_item {
          gap: 8px;
          text-align: center;

          .info {
            font-size: 12px;
            margin-top: 3px;
          }
        }

        .graph_item:last-child {
          svg g rect {
            fill: #796fbe !important;
            stroke: #796fbe !important;
          }
        }

        @media(max-width: 574px) {
          display: none;
        }
      }
    }

    @media(max-width: 991px) {
      .navbar_container {
        display: none;
      }
    }
  }
}

.footer {
    padding: 20px 12px;
    text-align: center;
    background: #323a4e;
    box-shadow: 0 -1px 2px 0 #0000000d;

  p {
    color: #dee2e6;
    font-size: 13px;
  }

  i {
    color: #ef6668;
    font-size: 10px;
  }
}