@keyframes dropdownSlide {
  from {
    opacity: 0;
    margin-top: 10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.navbar {
  padding: 0 20px;

  .navbar_container {
    width: 100%;
    height: 84px;
    border-radius: 3px;
    background: #323a4e;
    box-shadow: 0 -3px 31px 0 #0000000d,0 6px 20px 0 #00000005;

    .menus {
      height: 100%;
      display: flex;
      justify-content: flex-start;

      .menu_item {
        position: relative;

        .menu_item_link {
          gap: 8px;
          display: flex;
          color: #79829c;
          font-size: 1rem;
          cursor: pointer;
          padding: 20px 24px;
          align-items: center;
          flex-direction: column;
          transition: color 0.2s;
          justify-content: flex-start;

          &:hover {
            color: #796fbe;
          }
        }

        .submenus {
          gap: 0;
          left: 0;
          top: 100%;
          z-index: 10;
          display: none;
          padding: 8px 0;
          position: absolute;
          background: #293142;
          grid-auto-flow: row;
          animation: dropdownSlide 0.3s ease;
          border-radius: 0 0 0.25rem 0.25rem;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        }

        &.sub_open > .submenus {
          display: grid;
        }

        &:not(.sub_open):hover > .submenus {
          display: grid;
        }

        .submenus .menu_item {
          .menu_item_link {
            width: 180px;
            font-size: 13px;
            padding: 8px 24px;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
          }

          .submenus {
            display: none;
          }

          &:hover {
            .submenus {
              top: 0;
              left: 100%;
              display: grid;
            }
          }
        }
      }
    }
  }
}