header {
  .main_header {
    height: 136px;
    background: #293142;

    .row {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .page_title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 500;
      }

      .breadcrumb {
        gap: 8px;
        display: flex;
        font-size: 13px;

        .breadcrumb_item:first-child {
          color: #ced4da;
        }

        .breadcrumb_item {
          gap: 8px;
          display: flex;
          align-items: center;
        }
      }

      .graphs_block {
        gap: 40px;
        display: flex;

        .graph_item {
          gap: 8px;
          text-align: center;

          .info {
            font-size: 12px;
            margin-top: 3px;
          }
        }

        .graph_item:last-child {
          svg g rect {
            fill: #796fbe !important;
            stroke: #796fbe !important;
          }
        }
      }
    }
  }
}