@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #adb5bd;
  line-height: 1.7;
  background: #1f2431;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 20px;

  @media(max-width: 1199px) {
    max-width: 100%;
  }
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

a {
  color: #adb5bd;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
}

main {
  margin-top: 280px;

  @media(max-width: 991px) {
    margin-top: 200px;
  }
}