@media(max-width: 991px) {
  .mobile_menu {
    left: 0;
    top: 70px;
    width: 100%;
    z-index: 1000;
    display: flex;
    overflow: auto;
    position: fixed;
    max-height: 400px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease-in-out;

    :global(._navbar_kp2zm_11) {
      width: 100%;
      padding: 0;
      height: 100%;

      :global(._navbar_container_kp2zm_14) {
        height: 100%;
      }

      :global(._menus_kp2zm_21) {
        flex-direction: column;

        :global(._menu_item_kp2zm_26) {
          :global(._submenus_kp2zm_44) {
            display: none !important;
          }

          :global(._menu_item_link_kp2zm_29) {
            width: 100%;
            color: #79829c !important;
          }

          &:first-child {
            :global(._menu_item_link_kp2zm_29) {
              color: #7a6fbe;
            }
          }

          :global(._menu_item_link_kp2zm_29) {
            font-size: 14px;
            padding: 12px 16px;
            flex-direction: row;
          }

          :global(._submenus_kp2zm_44) {
            padding: 0;
            position: unset;
            box-shadow: none;
            background: none;
            grid-template-columns: auto !important;

            :global(._menu_item_kp2zm_26) {
              :global(._menu_item_link_kp2zm_29) {
                width: 100%;

                i {
                  transform: rotate(90deg);
                }
              }
            }

            :global(._menu_item_kp2zm_26) {
              :global(._menu_item_link_kp2zm_29) {
                padding: 4px 24px;
              }
            }
          }

          :global(._sub_open_kp2zm_58) {
            :global(._menu_item_link_kp2zm_29) {
              width: 100%;

              i {
                transform: rotate(270deg) !important;
              }
            }
          }
        }

        :global(._sub_open_kp2zm_58) {
          :global(._submenus_kp2zm_44) {
            display: grid !important;

            :global(._submenus_kp2zm_44) {
              display: none !important;
            }

            :global(._sub_open_kp2zm_58) {
              :global(._submenus_kp2zm_44) {
                margin-left: 10px;
                display: grid !important;
              }
            }
          }
        }
      }
    }
  }

  .mobile_menu_open {
    transform: scaleY(1);
  }
}